*                                       text=auto
*.*ignore               text

*.lock                  text            -diff
*.md                    text            diff=markdown
*.rs                    text            diff=rust
*.sh                    text            eol=lf
*.svg                   text
*.toml                  text
*.yml                   text

.gitattributes          text

LICENSE                 text
