.venv/
__pycache__/

/packages/desktop/build/
/packages/desktop/dist/
/packages/desktop/release/
/packages/desktop/*.spec

/packages/agent/build/
/packages/agent/dist/
/packages/agent/release/
/packages/agent/*.spec
